body {
    background-image: url('../images/fundoverde.png');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    font-size: 40px;
    color:white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: 50px;
}



.play {
    margin-top: 100px;
    width: 180px;
    height: 80px;
    background-color:rgb(0, 132, 255); 
    color: white;
    font-size: 30px;
    border-radius: 5px;
    border: solid 1px rgb(29, 131, 149);
    
}
    
#cassino {
    width: 700px;
    height: 400px;
}

.hide {
    display: none;
}

.show {
    display:initial;
    
}


section {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.btn {
    margin-top: 50px;
    width: 100px;
    height: 50px;
    background-color: rgb(42, 204, 42); 
    color: white;
    font-size: 20px;
    border-radius: 5px;
    border: solid 1px rgb(13, 90, 13);
}

.start {
    background-color: red;
    margin:120px 0 80px 0;
}

.card {
    display: flex;
    flex-direction: row;
   
  }

#dealer {
    display: flex;
    flex-direction: row;
}

#player {
    display: flex;
    flex-direction: row;
}
 .show {
    margin-top: 50px;
    width: auto;
    height: 180px;
    border-radius: 5px;
}

.cards {
    display: flex;
    flex-direction: row;
}

.buttonDisable {
    margin-top: 50px;
    width: 100px;
    height: 50px;
    background-color: green; 
    color: white;
    font-size: 20px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1px rgb(11, 75, 11);
    
    
}
  
  